/* -------------------------------------------------
 * 	     MoCaSeq nextflow pipeline
 * Environment specific genome configuration file
 * -------------------------------------------------
 * Define reference genome(s) here.
 * Please make sure the paths are valid in the
 * execution environment and binded to the containers.
 * This file serves as template.
 */
params {
	genomes {
		// genomes by name
		"GRCh38.p12" {
			names {
				// define autosomal and autosomal + sex chromosomes to use
				auto_sex = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","X","Y"]
				auto = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22"]
			}
			
			// bwa index file names
			ext_bwa_index = ["fasta", "fasta.amb", "fasta.ann", "fasta.bwt", "fasta.pac", "fasta.sa"]
			ext_fasta = ["fasta"]
			ext_fasta_index = ["fasta.fai"]
			ext_dict = ["dict"]
			
			// paths to genome files
			dir = "${params.genomes_base}/GRCh38.p12/GRCh38.p12"
			genome_base = "${params.genomes_base}/GRCh38.p12/GRCh38.p12"
		}
	}
}

