/* 
 * MoCaSeq debugging configuration file
 * @author marcus.wagner@tum.de
 */

// pipeline input parameters

params {
	debug = true

	genomes_base = "/dss/dssfs02/lwp-dss-0001/pn29ya/pn29ya-dss-0000/reference/GRCh38.p12/" //for charliecloud container: "/var/pipeline/ref"
	cache_base = "/dss/dssfs02/lwp-dss-0001/pn29ya/pn29ya-dss-0000/cache"
	
	genome_build {
		human = "GRCh38.p12"
	}
	
	genomes {
		"GRCh38.p12" {
			names {
				auto_sex = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","X","Y"]
				auto = ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22"]
			}
			ext_bwa_index = ["fasta", "fasta.amb", "fasta.ann", "fasta.bwt", "fasta.pac", "fasta.sa"]
			ext_fasta = ["fasta"]
			ext_fasta_index = ["fasta.fai"]
			ext_dict = ["dict"]
			dir = "${params.genomes_base}/GRCh38.p12/GRCh38.p12"
			genome_base = "${params.genomes_base}/GRCh38.p12/GRCh38.p12"
		}
	}
}
