# exclude project metadata
.DS_Store
.Rproj.user
.Rhistory
MoCaSeq.Rproj

# wrappers and launch scripts
launch/*
!launch/ccc_remap_wrapper.sh
!launch/ccc_Mutect_Postprocessing.sh
!launch/ccc_LearnReadOrientationModel.sh
!launch/remap/
!launch/mocaseq/

# include specific remap sample dirs
launch/remap/test


# include specific MoCaSeq sample dirs
launch/mocaseq/test

# exclude all .nextflow* and .out data
**/.nextflow/
**/*nextflow.log*
**/*.out

