# exclude project metadata
.DS_Store
.Rproj.user
.Rhistory
MoCaSeq.Rproj

# wrappers and launch scripts
launch/*
!launch/ccc_remap_wrapper.sh
!launch/remap/
!launch/mocaseq/

# include specific remap sample dirs
launch/remap/*
!launch/remap/batch02-ASHPC_0019/
!launch/remap/batch02-PCSI_0357/
!launch/remap/batch02-PCSI_0410/
!launch/remap/batch02-PCSI_0654/
!launch/remap/batch03-PCSI_0662/
!launch/remap/batch02-PCSI_0683/
!launch/remap/batch03-PCSI_0665/
!launch/remap/batch02-PCSI_0705/

# include specific MoCaSeq sample dirs
launch/mocaseq/*
!launch/mocaseq/batch02-ASHPC_0019/
!launch/mocaseq/batch02-PCSI_0357/
!launch/mocaseq/batch02-PCSI_0410/
!launch/mocaseq/batch02-PCSI_0654/
!launch/mocaseq/batch03-PCSI_0662/
!launch/mocaseq/batch02-PCSI_0683/
!launch/mocaseq/batch03-PCSI_0665/
!launch/mocaseq/batch02-PCSI_0705/

# exclude all .nextflow* and .out data
**/.nextflow/
**/*nextflow.log*
**/*.out

