# exclude project metadata
.DS_Store
.Rproj.user
.Rhistory
MoCaSeq.Rproj

# wrappers and launch scripts
launch/*
!launch/ccc_remap_wrapper.sh
!launch/remap/

# include specific remap sample dirs
launch/remap/*
!launch/remap/batch02-PCSI_0410/

# exclude all .nextflow* data
**/.nextflow/

