
/*
 * -------------------------------------------------
 *  MoCaSeq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
	custom_config_version = "master"
	custom_config_base = "configs"
}


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core/eager custom profiles from different institutions
try {
  includeConfig "${params.custom_config_base}/${params.custom_config_version}/pipeline/mocaseq.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load MoCaSeq profiles: ${params.custom_config_base}/pipeline/mocaseq.config")
}

profiles {
	charliecloud {
		charliecloud.enabled = true
	}
}

