
/*
 * -------------------------------------------------
 *  MoCaSeq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
	custom_config_base = "${HOME}/nextflow-configs"
	custom_config_version = "mocaseq"

	test_config_genome_version = null
	test_config_genome_base = null
	tiny = false

	stub_dir = null
	stub_json = null

	input = null
	
	// help and debug parameters
	help = false
	debug = false
	dry_init = false // this initializes the pipeline and prints configuration, then exits without computations

	pon_dir = null
	pon_dry = true
	pon_bed = null
	pon_resolution = null
	pon_sample = null
	pon_tsv = null

	track_read = false
	track_cn = false
	track_sv = false

	qc_dir = null

	// Must be same path both inside and outside your containers (In future it might be better for modules/local/software/genome/main.nf:cache_genome_url to return an edited path instead)
	cache_base = null
	genomes_base = "/var/pipeline/ref"
	script_base = "/var/pipeline/repository"

	genome_build {
		human = "GRCh38.p12"
		// mouse = "GRCm38.p6"
	}

	bwa_mem {
		threads = 16
		input_bases = 100000000
	}

	fastqc {
		threads = 4
	}

	gatk {
		ram = 11
		jar = "/opt/gatk-4.2.0.0/gatk.jar"
	}

	jabba {
		threads = 4
	}

	picard {
		ram = 20
		jar = "/opt/picard-2.20.0/picard.jar"
		max_records_in_ram = 2000000
	}

	manta {
		threads = 20
		dir = "/opt/manta-1.6.0"
	}

	mutect {
		artefact = "yes"
		filter = "soft"
	}

	sambamba {
		ram = 4
		threads = 5
	}

	snpeff {
		ram = 16
		jar = "/opt/snpEff-4.3T/snpEff.jar"
		one_per_line = "/opt/snpEff-4.3T/scripts/vcfEffOnePerLine.pl"
	}

	snpsift {
		jar = "/opt/snpEff-4.3T/SnpSift.jar"
	}

	strelka {
		threads = 4
		dir = "/opt/strelka-2.9.10"
	}

	trimmomatic {
		ram = 4
		threads = 2
		jar = "/opt/trimmomatic-0.39/trimmomatic-0.39.jar"
		dir = "/opt/trimmomatic-0.39"
	}

	cnv_kit {
		threads = 4
		centre = "mode,biweight"
	}

	hmm_copy {
		dir = "/opt/hmmcopy_utils"
		resolution = "1000,20000"// A list cannot be over-ridden from the command line
		flank_length {
			human = 5000000
			mouse = 0
		}
		filter_regions {
			human = "/var/pipeline/ref/GRCh38.p12/GRCh38.centromers.txt"
			mouse = "/var/pipeline/ref/GRCm38.p6/GRCm38.AgilentProbeGaps.txt"
		}
	}

	msi {
		threads = 4
	}

	frag_counter {
		resolution = "1000"
	}
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load MoCaSeq custom profiles from different institutions
try {
	includeConfig "${params.custom_config_base}/${params.custom_config_version}/pipeline/mocaseq.config"
} catch (Exception e) {
	System.err.println ("WARNING: Could not load MoCaSeq profiles: ${params.custom_config_base}/${params.custom_config_version}/pipeline/mocaseq.config")
	System.err.println (e)
}

try {
	includeConfig "${params.test_config_genome_base ? params.test_config_genome_base : params.custom_config_base}/${params.test_config_genome_version ? params.test_config_genome_version : params.custom_config_version}/pipeline/genomes.config"
} catch (Exception e) {
	System.err.println ("WARNING: Could not load MoCaSeq profiles: ${params.test_config_genome_base ? params.test_config_genome_base : params.custom_config_base}/${params.test_config_genome_version ? params.test_config_genome_version : params.custom_config_version}/pipeline/genomes.config")
	System.err.println (e)
}

try {
	includeConfig "${params.test_config_genome_base ? params.test_config_genome_base : params.custom_config_base}/${params.test_config_genome_version ? params.test_config_genome_version : params.custom_config_version}/pipeline/genome_annotations.config"
} catch (Exception e) {
	System.err.println ("WARNING: Could not load MoCaSeq profiles: ${params.test_config_genome_base ? params.test_config_genome_base : params.custom_config_base}/${params.test_config_genome_version ? params.test_config_genome_version : params.custom_config_version}/pipeline/genome_annotations.config")
	System.err.println (e)
}

profiles {
	charliecloud {
		charliecloud.enabled = true
	}
}

