
/*
 * -------------------------------------------------
 *  MoCaSeq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
	custom_config_version = "master"
	custom_config_base = "configs"

	input = null
	chromosomes = ""

	genome_build {
		human = "GRCh38.p12"
	}

	gatk {
		ram = 4
		jar = "/opt/gatk-4.1.7.0/gatk.jar"
	}

	manta {
		threads = 4
		dir = "/opt/manta-1.6.0"
	}

	annotation {
		snpeff {
			ram = 16
			dir = "/opt/snpEff-4.3T"
			human = "GRCh38.92"
		}
	}
}


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load MoCaSeq custom profiles from different institutions
try {
	includeConfig "${params.custom_config_base}/${params.custom_config_version}/pipeline/mocaseq.config"
} catch (Exception e) {
	System.err.println ("WARNING: Could not load MoCaSeq profiles: ${params.custom_config_base}/${params.custom_config_version}/pipeline/mocaseq.config")
	System.err.println (e)
}

try {
	includeConfig "${params.custom_config_base}/${params.custom_config_version}/pipeline/genomes.config"
} catch (Exception e) {
	System.err.println ("WARNING: Could not load MoCaSeq profiles: ${params.custom_config_base}/${params.custom_config_version}/pipeline/genomes.config")
	System.err.println (e)
}


profiles {
	charliecloud {
		charliecloud.enabled = true
	}
}

