
params {
	genome_annotations {
		"GRCh38.p12" {
			alt_haplotype = "${params.genomes_base}/GRCh38.p12/GRCh38.alt_haplotypes.txt"
			par_bed = "${params.genomes_base}/GRCh38.p12/GRCh38.p12.par.bed"
			centromere = "${params.genomes_base}/GRCh38.p12/GRCh38.centromers.txt"
			all_vcf = "${params.genomes_base}/GRCh38.p12/00-all.vcf.gz"
			cgc = "${params.genomes_base}/GRCh38.p12/GRCh38.Census_allMon_Feb_11_14_43_15_2019.tsv"
			common_vcf = "${params.genomes_base}/GRCh38.p12/00-common_all.vcf.gz"
			dbnsfp = "${params.genomes_base}/GRCh38.p12/dbNSFP4.1a.txt.gz"
			gc_wig = "${params.genomes_base}/GRCh38.p12/GRCh38.p12.gc.*.wig"
			gencode_genes_bed = "${params.genomes_base}/GRCh38.p12/gencode_humanV31_genes.bed"
			mappability = "${params.genomes_base}/GRCh38.p12/GRCh38.mappability.txt"
			map_wig = "${params.genomes_base}/GRCh38.p12/GRCh38.p12.map.*.wig"
			micro_satellite = "${params.genomes_base}/GRCh38.p12/GRCh38.p12.microsatellites"
			ref_flat = "${params.genomes_base}/GRCh38.p12/GRCh38.p12.RefFlat"
			sift_clinvar = "${params.genomes_base}/GRCh38.p12/GRCh38.clinvar.vcf.gz"
			sift_cosmic_coding = "${params.genomes_base}/GRCh38.p12/GRCh38.CosmicCodingMuts.v88.vcf.gz"
			sift_cosmic_noncoding = "${params.genomes_base}/GRCh38.p12/GRCh38.CosmicNonCodingVariants.v88.vcf.gz"
			sift_dbsnp = "${params.genomes_base}/GRCh38.p12/00-all.vcf.gz"
			sift_gnomad_exome = "${params.genomes_base}/GRCh38.p12/gnomad.exomes.r2.0.1.sites.GRCh38.noVEP.vcf.gz"
			sift_gnomad_genome = "${params.genomes_base}/GRCh38.p12/gnomad.genomes.r2.0.1.sites.GRCh38.noVEP.vcf.gz"
			sift_fields = "ANN[*].GENE ANN[*].EFFECT ANN[*].IMPACT ANN[*].FEATUREID ANN[*].HGVS_C ANN[*].HGVS_P dbNSFP_MetaLR_pred dbNSFP_MetaSVM_pred ID G5 CAF AC AN AF CNT_Coding CNT_NonCoding CLNDN CLNSIG CLNREVSTAT dbNSFP_SIFT_pred dbNSFP_Polyphen2_HDIV_pred dbNSFP_Polyphen2_HVAR_pred dbNSFP_PROVEAN_pred"
			snpeff_version = "GRCh38.92"
			tru_sight = "${params.genomes_base}/GRCh38.p12/GRCh38.TruSight_Panel_V2_Gene_List.txt"
		}
	}
}

